@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Poppins, system-ui, sans-serif;
  }
}

@layer components {
  .c-banner {
  }
  .c-navLink {
    @apply font-semibold text-white text-lg md:text-base md:text-black hover:text-orange-500 transition duration-200 ease-linear;
  }

  .c-menu {
    @apply flex flex-col justify-center items-center bg-gray-800 bg-opacity-80
          md:flex-row md:bg-transparent md:opacity-100 md:justify-between h-screen md:h-auto md:visible;
  }
}

.c-banner {
  @apply bg-transparent;
}

.c-bannerBottom {
  @apply bg-blue-950;
}

@media (min-width: 768px) {
  .c-banner {
    background-image: url(./assets/banner.png) !important;
  }

  .c-bannerBottom {
    background-image: url(./assets/download.png) !important;
  }
}
