@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-banner {
  }
  .c-navLink {
    @apply font-semibold text-white text-lg md:text-base md:text-black hover:text-orange-500 transition duration-200 ease-linear;
  }

  .c-menu {
    @apply flex flex-col justify-center items-center bg-gray-800 bg-opacity-80
          md:flex-row md:bg-transparent md:opacity-100 md:justify-between h-screen md:h-auto md:visible;
  }
}

.c-banner {
  @apply bg-transparent;
}

.c-bannerBottom {
  @apply bg-blue-950;
}

@media (min-width: 768px) {
  .c-banner {
    background-image: url(./assets/banner.png) !important;
  }

  .c-bannerBottom {
    background-image: url(./assets/download.png) !important;
  }
}
